.product-form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .form-wrapper {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .form-title {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  .styled-form .form-input {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .styled-form .form-input:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(167, 87, 40, 0.25);
  }
  
  .styled-form .submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
  }

  